<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_register_success">
		<observer name="Tfscommerce_customersync_observer_registersuccess" instance="Tfscommerce\Customersync\Observer\RegisterSuccess"/>
	</event>
	<event name="customer_save_after_data_object">
		<observer name="Tfscommerce_customersync_observer_customer_save_after_data_object" instance="Tfscommerce\Customersync\Observer\SaveAfterDataObject"/>
	</event>
</config>
